body {
  font-family:sans-serif;
  text-align:center;
  background:whitesmoke;
  margin: 0;
  padding: 10px;
}
.b {
  display:block;  
  width: 150px;
  height: 150px;
  margin: 35px;
  background: #6c63ff;
  color: white;
  line-height: 150px;    
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  
}

.block:hover {
  background: whitesmoke;

}
