#head1{
     text-align: center;
     background-color: rgba(5, 239, 227, 0.985);
}
#head1{
 font-size: larger;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#head2{
  background-color: rgba(16, 207, 194, 0.433);
}