
body {
  background: whitesmoke;
  font-family:  sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
}

.calculator {
  background: #222;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px black;
  width: 280px;
}

.display {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    background: #111;
    color: #fff;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.buttons button {
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #333;
    color: white;
    transition: 0.2s;
}

.buttons button:hover {
    background: gray;
}
.buttons .ac{
    background-color: orange;
}

